Tests: regress
Restrictions: needs-root allow-stderr
Depends: devscripts,
         dropbear,
         haveged,
         openssh-tests,
         openssl,
         putty-tools,
         python3-twisted,
         sudo,
         sysvinit-utils,
