Tests: regress
Restrictions: needs-root allow-stderr
Depends: devscripts,
         haveged,
         openssh-tests,
         openssl,
         putty-tools,
         python3-twisted,
         sudo,
         sysvinit-utils,

Tests: systemd-socket-activation
Restrictions: needs-root allow-stderr needs-reboot
Depends: openssh-client,
         openssh-server,
         systemd,
