Tests: regress
Restrictions: needs-root allow-stderr
Depends: devscripts,
         dropbear,
         haveged,
         openssh-tests,
         openssl,
         putty-tools,
         python3-twisted,
         sudo,
         sysvinit-utils,

Tests: systemd-socket-activation
Restrictions: needs-root allow-stderr
Depends: openssh-client,
         openssh-server,
         systemd,

Tests: sshd-socket-generator
Restrictions: needs-root allow-stderr
Depends: openssh-client,
         openssh-server,
         systemd,

Tests: ssh-gssapi
Restrictions: needs-root allow-stderr isolation-container
Depends: openssh-server,
         krb5-kdc,
         krb5-admin-server
